<div class="footer">
    <div class="socials">
        <i class="fa-brands fa-square-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
    </div>

    <div class="brand">
        WanderLust pvt. ltd.
    </div>

    <div class="tnc">
        <a href="">Terms and Conditions</a>
        <a href="">Privacy-Policy</a>
    </div>
</div>