<% layout("/layout.ejs") %>
<% block('styles').append('<link rel="stylesheet" href="/css/index.css">') %>

<div class="row heading ">
    <div class=" col-4 alert alert-danger heading offset-4 d-flex align-items-center" role="alert" style="padding-top: 17px;">
       <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
       <p class="mb-0"><%= err %></p>
    </div>
</div>
