<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>

    <h1>All Listings</h1>
    <button><a href="/listings/new">New Listing</a></button>
    <% for (let listing of listings) {%>
        <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
        <button><a href="/listings/<%=listing._id%>/edit">Edit</a></button>
        &nbsp;&nbsp;
        
        <br>
    <% } %>
    
    </div>
</body>
</html>