<% layout("/layout.ejs") %>
<% block('styles').append('<link rel="stylesheet" href="/css/index.css">') %>
<div>
    <div class="container text-center">

        <div class="filter">

            <div class="filter">

            </div>

        </div>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 text-center">
            <% for (let listing of listings) {%>
                <div class="col" style="display:flex; justify-content: center;">
                    <a href="/listings/<%= listing._id %>">
                        <div class="card h-100" style="width:13rem; border: 0px; margin-bottom: 1px;">
                        <img src="<%= listing.image.url %>" class="card-img-top img-fluid" alt="...">
                        <div class="card-body"style="text-align:start; padding-top: 0px; padding-left: 5px;">
                            <h6 class="card-title" style="margin-bottom: 2px;">
                                <%= listing.title %>
                            </h6>
                            <p class="card-text" style="font-size: small;">
                               &#8377; <%= listing.price.toLocaleString('en-IN') %> for 2 nights
                            </p>
                            
                        </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div> 
