#map {
    height: 400px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.map h3{
    margin-left: 150px;
    margin-bottom: 25px;
}

.marker{
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer; 
}