a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration:solid;
}

.navbar-brand i, .navbar-brand span{
    color: rgb(255, 59, 59);
}

.card-img-top{
    height:200px;
    object-fit: cover;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.heading{
    margin-bottom: 40px;
    margin-top: 40px;
}

.buttons{
    margin-top: 20px;
    
}

nav{
    border-bottom: 1px solid rgb(145, 145, 145) !important;
}